<div class="main">

    <h2>Gestion des Policies</h2>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Num</th>
                <th>Policy Number</th>
                <th>Insurance Product</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Customer Email</th>
                <th>Customer Address</th>
                <th>Agent Name</th>
                <th>Agent Phone</th>
            </tr>
        </thead>
        <tbody class="policies-table" id="policies-table">
            <!-- AJAX 动态填充 -->
        </tbody>
    </table>

    <!-- 分页按钮 -->
    <nav>
        <ul class="pagination" id="pagination">
            <!-- AJAX 动态填充 -->
        </ul>
    </nav>

   
</div>

