
<div class="main">
    <h2>Gestion de Discount!</h2>            
    
    <div class="row">
        <div class="col-md-4 border p-3 affiche">
  
            <div class="option_action">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="vue" checked>
                    <label class="form-check-label" for="radio1">Vue</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="modifier">
                    <label class="form-check-label" for="radio2">Modifier</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="ajouter">
                    <label class="form-check-label" for="radio3">Ajouter</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="supprimer">
                    <label class="form-check-label" for="radio4">Supprimer</label>
                </div>
            </div>

            <div class="search_user">
                <label>Recherche (Name,Type,Value...) </label>
                <input type="text" id="searchBox" onkeyup="searchCustomers()" placeholder="Recherche...">
            </div>
                                
            <table class="table table-bordered table-striped">
                <thead>
                    <tr id="search_results_title"></tr>
                </thead>
                <tbody class="client_search-table" id="search_results">
                    <!-- AJAX 动态填充 -->
                </tbody>
            </table>

        </div>

        <div class="col-md-8 border p-3 affiche">

            <form id="discount-form" class="form-horizontal user_info row">
                <div class="form-group row">
                    <label for="discount_id" class="col-md-4 control-label">Discount_id</label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="discount_id" id="discount_id" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="discount_name" class="col-md-4 control-label">Discount_name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="discount_name" id="discount_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="discount_type" class="col-md-4 control-label">Discount_type</label>
                    <div class="col-md-4">
                        <select class="form-control" id="discount_type">
                            <option value="Fixed">Fixed Amount</option>
                            <option value="Percentage">Percentage</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="discount_value" class="col-md-4 control-label">Discount_value</label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="discount_value" id="discount_value">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="start_date" class="col-md-4 control-label">Start_date</label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" name="start_date" id="start_date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="end_date" class="col-md-4 control-label">End_date</label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" name="end_date" id="end_date">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 btn-user">
                      <button type="submit" class="btn btn-default btn-danger border btn-user-conf">Confirmation</button>
                    </div>
                </div>

            </form>

        </div>
    </div>


</div>
