{% extends 'base.html' %}

{% block title %}Gestion de Facturation{% endblock %}

{% block content %}
<!--
<h2>Bienvenu，{{ current_user.username }}！</h2>
<p>Role：{{ current_user.role }}</p> -->

<h1>Hai!  Gestion de Facturation!</h1>

<div class="button-container">
    <button class="left-btn">Recherche</button>
    <button class="right-btn">Ajoute</button>
</div>

{% if current_user.role == "admin" %}
    <a href="{{ url_for('customer.get_customers') }}">Gestion de Clients</a>
    <a href="{{ url_for('policy.get_policies') }}">Gestion de Policies</a>
{% elif current_user.role == "agent" %}
    <a href="{{ url_for('customer.get_customers') }}">View clients</a>
    <a href="{{ url_for('policy.get_policies') }}">View Policies</a>
{% endif %}
{% endblock %}