
<div class="main">
    <h2>Gestion de Requests!</h2>            
    
    <div class="row">
        <div class="col-md-4 border p-3 affiche_search">
  
            <div class="option_action">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="request_optradio" value="vue" checked>
                    <label class="form-check-label" for="radio1">Vue</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="request_optradio" value="modifier">
                    <label class="form-check-label" for="radio2">Modifier</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="request_optradio" value="ajouter">
                    <label class="form-check-label" for="radio3">Ajouter</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio4" name="request_optradio" value="supprimer">
                    <label class="form-check-label" for="radio4">Supprimer</label>
                </div>
            </div>

            <div class="search_request">
                <label>Recherche (Nom,Phone,Request...) </label>
                <input type="text" id="searchBox_request" onkeyup="searchRequests()" placeholder="Recherche...">
            </div>
                                
            <table class="table table-bordered table-striped">
                <thead>
                    <tr id="search_request_results_title"></tr>
                </thead>
                <tbody class="request_search-table" id="request_search_results">
                    <!-- AJAX 动态填充 -->
                </tbody>
            </table>

        </div>

        <div class="col-md-8 border p-3 affiche_request">

            <form id="request-form" class="form-horizontal  row ms-2">
                
                <div class="request_info request_handle d-none">
                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label for="request_id" class="col-md-4 control-label">Request_id</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="request_id" id="request_id" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label for="customer_name" class="col-md-4 control-label">Customer_name</label>
                            <div class="col-md-8 position-relative">
                                <input type="text" class="form-control" name="customer_name" 
                                    id="customer_name" autocomplete="off" 
                                    oninput="searchSuggestions('customer_name', 'suggestions_customer', 'customer_id', '/gestionRequest/search_customer')" >
                                <div id="suggestions_customer" class="list-group position-absolute w-100 shadow d-none" ></div>
                            </div>
                        
                        </div>
                        <div class="form-group col-md-6 row">
                            <label for="customer_id" class="col-md-3 control-label offset-md-1">Customer_id</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="customer_id" id="customer_id" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 row">
                            <label for="title" class="col-md-2 control-label">Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control w-100" name="title" id="title">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 row">
                            <label for="description" class="col-md-2 control-label">description</label>
                            <div class="col-md-8">
                                <textarea id="description" class="form-control w-100" rows="5" cols="62" ></textarea>    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label for="create_time" class="col-md-4 control-label">Create Time</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" name="create_time" id="create_time">
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label for="status_select" class="col-md-3 control-label offset-md-1">Status</label>
                            <div class="col-md-4">
                                <select class="form-control" id="status_select">
                                    <option value="Create">Create</option>
                                    <option value="In_Progress">In_Progress</option>
                                    <option value="Finish">Finish</option>>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label for="agent_name" class="col-md-4 control-label">Now Agent</label>
                            <div class="col-md-8 position-relative">
                                <input type="text" class="form-control" name="agent_name" 
                                id="agent_name" autocomplete="off" 
                                oninput="searchSuggestions('agent_name','suggestions_agent','agent_id','/gestionRequest/search_agent')" >
                                <div id="suggestions_agent" class="list-group position-absolute w-100 shadow d-none" ></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label for="agent_id" class="col-md-3 offset-md-1 control-label">Now Agent_id</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="agent_id" id="agent_id" disabled>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label for="handle_agent_name" class="col-md-4 control-label">Next Agent</label>
                            <div class="col-md-8 position-relative">
                                <input type="text" class="form-control" name="handle_agent_name" 
                                id="handle_agent_name" autocomplete="off" 
                                oninput="searchSuggestions('handle_agent_name','suggestions_agent_next','next_agent_id','/gestionRequest/search_agent')" >
                                <div id="suggestions_agent_next" class="list-group position-absolute w-100 shadow d-none" ></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label for="next_agent_id" class="col-md-3 offset-md-1 control-label">Next_Agent_id</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="next_agent_id" id="next_agent_id" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="handle_info request_handle">

                    <div class="request_base" id="request_base"></div>
                    <hr>
                    <div class="modifier_handle_request d-none">
                        <div class="row">
                            <div class="form-group col-md-12 row">
                                <label for="description_handle" class="col-md-2 control-label">description</label>
                                <div class="col-md-8">
                                    <textarea id="description_handle" class="form-control w-100" rows="5" cols="62" ></textarea>    
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="handle_status_select" class="col-md-2 control-label ">Status</label>
                            <div class="col-md-4">
                                <select class="form-control" id="handle_status_select">
                                    <option value="Create">Create</option>
                                    <option value="In_Progress">In_Progress</option>
                                    <option value="Finish">Finish</option>>
                                </select>
                            </div>
                        </div>
 
                        <div class="row">
                            <div class="form-group col-md-6 row">
                                <label for="handle_now_agent_name" class="col-md-4 control-label">Now Agent</label>
                                <div class="col-md-8 position-relative">
                                    <input type="text" class="form-control" name="handle_now_agent_name" 
                                    id="handle_now_agent_name" autocomplete="off" 
                                    oninput="searchSuggestions('handle_now_agent_name','suggestions_agent_handle','handle_agent_id','/gestionRequest/search_agent')" >
                                    <div id="suggestions_agent_handle" class="list-group position-absolute w-100 shadow d-none" ></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 row">
                                <label for="handle_agent_id" class="col-md-3 offset-md-1 control-label">Now Agent_id</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="handle_agent_id" id="handle_agent_id" disabled>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6 row">
                                <label for="handle_next_agent_name" class="col-md-4 control-label">Next Agent</label>
                                <div class="col-md-8 position-relative">
                                    <input type="text" class="form-control" name="handle_next_agent_name" 
                                    id="handle_next_agent_name" autocomplete="off" 
                                    oninput="searchSuggestions('handle_next_agent_name','suggestions_agent_next_handle','handle_next_agent_id','/gestionRequest/search_agent')" >
                                    <div id="suggestions_agent_next_handle" class="list-group position-absolute w-100 shadow d-none" ></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 row">
                                <label for="handle_next_agent_id" class="col-md-3 offset-md-1 control-label">Next_Agent_id</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="handle_next_agent_id" id="handle_next_agent_id" disabled>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="form-group submit_confirmation d-none">
                    <div class="col-md-offset-2 col-md-10 btn-user">
                      <button type="submit" class="btn btn-default btn-danger border btn-user-conf">Confirmation</button>
                    </div>
                </div>

                <div class="handle_info request_handle">
                    <hr>
                    <div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr id="search_log_handle_request_title"></tr>
                            </thead>
                            <tbody class="log_handle_request_search-table" id="log_handle_request_search_results">
                                <!-- AJAX 动态填充 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>
