
<div class="main">
    <h2>Gestion de Vente!</h2>            
    
    <div class="row">
        <div class="col-md-4 border p-3 affiche search_menu">
  
            <div class="option_action">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="vue" checked>
                    <label class="form-check-label" for="radio1">Vue</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="modifier">
                    <label class="form-check-label" for="radio2">Modifier</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="ajouter">
                    <label class="form-check-label" for="radio3">Ajouter</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="supprimer">
                    <label class="form-check-label" for="radio4">Supprimer</label>
                </div>
            </div>

            <div class="search_policy border search_menu_sub" id="search_policy">
                <div class="search_policy_label row">
                    <label class="col-md-3 col-md-offset-1">Name,Phone,Email,Policy_ID</label>
                    <input class="col-md-6 col-md-offset-1" type="text" id="policy_searchBox" onkeyup="search_policy()" placeholder="Recherche...">
                </div>
                                    
                <table class="table table-bordered table-striped table_policy" id="table_policy" data-type="policy">
                    <thead>
                        <tr id="search_policy_results_title"></tr>
                    </thead>
                    <tbody class="client_search-table" id="search_policy_results">
                        <!-- AJAX 动态填充 -->
                    </tbody>
                </table>
            </div>

            <div class="vente_search_user border search_menu_sub d-none" id="search_user">
                <div class="search_user_label row">
                    <label class="col-md-3 col-md-offset-1">User</label>
                    <input class="col-md-6 col-md-offset-1" type="text" id="user_searchBox" onkeyup="search_user()" placeholder="Recherche...">
                </div>
                                    
                <table class="table table-bordered table-striped table_user" id="table_user" data-type="user">
                    <thead>
                        <tr id="search_user_results_title"></tr>
                    </thead>
                    <tbody class="client_search-table" id="search_user_results">
                        <!-- AJAX 动态填充 -->
                    </tbody>
                </table>
            </div>

            <div class="search_product border search_menu_sub d-none" id="search_product">
                <div class="search_product_label row">
                    <label class="col-md-3 col-md-offset-1">Product </label>
                    <input class="col-md-6 col-md-offset-1" type="text" id="product_searchBox" onkeyup="search_product()" placeholder="Recherche...">
                </div>
                                    
                <table class="table table-bordered table-striped table_product" id="table_product" data-type="product">
                    <thead>
                        <tr id="search_product_results_title"></tr>
                    </thead>
                    <tbody class="client_search-table" id="search_product_results">
                        <!-- AJAX 动态填充 -->
                    </tbody>
                </table>
            </div>

            <div class="search_discount border search_menu_sub d-none" id="search_discount">
                <div class="search_discount_label row">
                    <label class="col-md-3 col-md-offset-1">Discount</label>
                    <input class="col-md-6 col-md-offset-1" type="text" id="discount_searchBox" onkeyup="search_discount()" placeholder="Recherche...">
                </div>                                    
                <table class="table table-bordered table-striped table_discount" id="table_discount" data-type="discount">
                    <thead>
                        <tr id="search_discount_results_title"></tr>
                    </thead>
                    <tbody class="client_search-table" id="search_discount_results">
                        <!-- AJAX 动态填充 -->
                    </tbody>
                </table>
            </div>

            <div class="search_agent border search_menu_sub d-none" id="search_agent">
                <div class="search_agent_label row">
                    <label class="col-md-3 col-md-offset-1">Agent</label>
                    <input class="col-md-6 col-md-offset-1" type="text" id="agent_searchBox" onkeyup="search_agent()" placeholder="Recherche...">
                </div>                                    
                <table class="table table-bordered table-striped table_agent" id="table_agent" data-type="agent">
                    <thead>
                        <tr id="search_agent_results_title"></tr>
                    </thead>
                    <tbody class="client_search-table" id="search_agent_results">
                        <!-- AJAX 动态填充 -->
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-8 border p-3 affiche">

            <form id="product-form" class="form-horizontal user_info row">
                <div class="form-group-user border user_info">
                    <h4>User Information</h4>
                    <div class="form-group row">
                        <label for="Customer_ID" class="col-md-2 control-label">Customer_ID</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="Customer_ID" id="Customer_ID" disabled>
                        </div>
                        <label for="gender_select" class="col-md-1 offset-md-1 control-label">Gendre</label>
                        <div class="col-md-2">
                            <select class="form-control" id="gender_select" disabled>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name_first" class="col-md-2 control-label">Name_first</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="Name_first" id="name_first" disabled>
                        </div>

                        <label for="name_middle" class="col-md-2 control-label">Name_middle</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="name_middle" id="name_middle" disabled>
                        </div>

                        <label for="name_last" class="col-md-2 control-label">Name_last</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="name_last" id="name_last" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_card_number" class="col-md-2 control-label">Number_Card_ID</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="id_card_number" id="id_card_number" disabled>
                        </div>
                        <label for="date_of_birth" class="col-md-2 control-label">Birth_Day</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-md-1 control-label">Phone</label>
                        <div class="col-md-3">
                            <input type="tel" class="form-control" name="phone" id="phone" disabled>
                        </div>
                        <label for="email" class="col-md-1 offset-md-1 control-label">Email</label>
                        <div class="col-md-5">
                            <input type="email" class="form-control" name="email" id="email" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-md-1 control-label">Address</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="address" id="address" disabled>
                        </div>
                    </div>

                </div>

                <div class="form-group-product border product_info">
                    <h4>Product Information</h4>
                    <div class="form-group row">
                        <div class="form-group row">
                            <label for="product_id" class="col-md-2 control-label">Product_id</label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="product_id" id="product_id" disabled>
                            </div>
                            <label for="product_name" class="col-md-2 offset-md-1 control-label">Product_name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="product_name" id="product_name" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="category" class="col-md-1 control-label">Category</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="category" id="category" disabled>
                            </div>
                            <label for="coverage_amount" class="col-md-1 offset-md-1 control-label">Coverage_amount</label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="coverage_amount" id="coverage_amount" disabled>
                            </div>
                            <label for="premium" class="col-md-1 control-label">Premium</label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="premium" id="premium" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-md-2 control-label">Description</label>
                            <div class="col-md-6">
                                <textarea id="description" rows="5" cols="50" disabled></textarea>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group-discount border discount_info">
                    <h4>Discount Information</h4>
                    <div class="form-group row">
                        <label for="discount_id" class="col-md-2 control-label">Discount_id</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="discount_id" id="discount_id" disabled>
                        </div>
                        <label for="discount_name" class="col-md-2 offset-md-2 control-label">Discount_name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="discount_name" id="discount_name" disabled>
                        </div>                        
                    </div>

                    <div class="form-group row">
                        <label for="discount_type" class="col-md-2 control-label">Discount_type</label>
                        <div class="col-md-3">
                            <select class="form-control" id="discount_type" disabled>
                                <option value="Fixed">Fixed Amount</option>
                                <option value="Percentage">Percentage</option>
                            </select>
                        </div>
                        <label for="discount_value" class="col-md-2 offset-md-1 control-label">Discount_value</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="discount_value" id="discount_value" disabled>
                        </div>                        
                    </div>

                    <div class="form-group row">
                        <label for="start_date" class="col-md-2 control-label">Start_date</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" name="start_date" id="start_date" disabled>
                        </div>
                        <label for="end_date" class="col-md-2 control-label">End_date</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" name="end_date" id="end_date" disabled>
                        </div>
                    </div>
    
                </div>

                <div class="form-group-agent border agent_info">
                    <h4>Agent Information</h4>
                    <div class="form-group row">
                        <label for="agent_id" class="col-md-2 control-label">Agent_id</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" name="agent_id" id="agent_id" disabled>
                        </div>
                        <label for="agent_phone" class="col-md-1 offset-md-2 control-label">Phone</label>
                        <div class="col-md-3">
                            <input type="tel" class="form-control" name="agent_phone" id="agent_phone" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="agent_name_first" class="col-md-2 control-label">Name_first</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="agent_name_first" id="agent_name_first" disabled>
                        </div>
                        <label for="agent_name_middle" class="col-md-2 control-label">Name_middle</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="agent_name_middle" id="agent_name_middle" disabled>
                        </div>
                        <label for="agent_name_last" class="col-md-2 control-label">Name_last</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="agent_name_last" id="agent_name_last" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="agent_email" class="col-md-1 control-label">Email</label>
                        <div class="col-md-5">
                            <input type="email" class="form-control" name="agent_email" id="agent_email" disabled>
                        </div>
                        <label for="commission_rate" class="col-md-2 offset-md-2 control-label">Commission_rate</label>
                        <div class="col-md-2">
                            <input type="number" step="0.01" min="0" max="10" class="form-control" name="commission_rate" id="commission_rate" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="agent_address" class="col-md-2 control-label">Address</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="agent_address" id="agent_address" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group-policy border policy_info">
                    <h4>Policy Information</h4>   
                    <div class="form-group row">
                        <label for="policy_id" class="col-md-1 control-label">ID</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control" name="policy_id" id="policy_id" disabled>
                        </div>
                        <label for="policy_number" class="col-md-2 control-label">Policy Number</label>
                        <div class="col-md-3">
                            <input type="text"  class="form-control" name="policy_number" id="policy_number">
                        </div>
                        <label for="policy_status_type" class="col-md-1 control-label">status</label>
                        <div class="col-md-2">
                            <select class="form-control" id="policy_status_type" name="policy_status_type">
                                <option value="Active">Active</option>
                                <option value="Expired">Expired</option>
                                <option value="Pending" selected="selected">Pending</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label for="premium_amount" class="col-md-3 control-label">Premium amount</label>
                        <div class="col-md-2">
                            <input type="number" step="0.01" class="form-control" name="premium_amount" id="premium_amount">
                        </div>
                        <label for="final_premium" class="col-md-2 offset-md-1 control-label">Final Premium</label>
                        <div class="col-md-2">
                            <input type="number" step="0.01" class="form-control" name="final_premium" id="final_premium">
                        </div>
                    </div>           
                    <div class="form-group row">
                        <label for="policy_start_date" class="col-md-2 control-label">Start_date</label>
                        <div class="col-md-3">
                            <input type="date" class="form-control" name="policy_start_date" id="policy_start_date">
                        </div>
                        <label for="policy_end_date" class="col-md-2 offset-md-1 control-label">End_date</label>
                        <div class="col-md-3">
                            <input type="date" class="form-control" name="policy_end_date" id="policy_end_date">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 btn-user">
                    <button type="submit" class="btn btn-default btn-danger border btn-user-conf">Confirmation</button>
                    </div>
                </div>
            
            </form>

        </div>
    </div>


</div>
