body {
    width: 90%;
    margin: 2% 5%;    
}

.navbar {
    background-color: #c4b6bee7;
}

.navbar-nav {
    border-radius: 20px;
    border-bottom: 5px solid #1a9c09e8; 
    padding: 3px 0;

}

.navbar-nav a {
    font-weight: bold;
    background-color: #83b67cc4;
    font-size: 18px;
    color: #f00909e1;
}

/* 每个菜单项 */
.nav-item {
    flex:none;
    border-right: 3px solid #6988ee;
    padding: 5px 5px;
    
}

.nav-item:last-child {
    border-right: none; /* 最后一个菜单项去掉右边的间隔线 */
}

/* 菜单项 hover 效果 */
.nav-item:hover {
    background-color: #c4d110f3; /* 鼠标悬停时的背景色 */
}