/* 让右侧主区域占满整个屏幕高度 */
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {    
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vh-5 {
  flex: 0 0 5vh;  /* 固定 20% */
  max-height: 5vh;
}

.vh-80 {
  flex: 0 0 80vh;  /* 固定 70% */
  max-height: 80vh;
  overflow-y: auto; /* 超出滚动 */
}

.vh-10 {
  flex: 0 0 10vh;  /* 固定 10% */
  max-height: 10vh;
}


