
.user-field {
border: none;
border-bottom: 1px solid #ced4da; /* 边框颜色可以根据需要调整 */
border-radius: 0; /* 移除圆角，使下边框更平直 */
}

/* 悬停和聚焦时的样式，使其更具交互性 */
.user-field:hover,
.user-field:focus {
border-bottom-color: #0d6efd; /* 悬停和聚焦时变为蓝色 */
box-shadow: none; /* 移除默认的蓝色阴影 */
}

/* 专门针对被禁用的 .user-field 元素 */
.user-field:disabled {
/* 覆盖掉浏览器和 Bootstrap 的默认样式 */
background-color: transparent; /* 或者你想要的背景颜色 */
opacity: 1; /* 恢复完全不透明 */

/* 应用你想要的下边框样式 */
border-bottom: 1px solid #ced4da;
}


/*
.main {
    height: 87vh; 
    padding: 20px;
}


.affiche {
    height: 80vh;
    overflow-y: auto; 
    text-align: center;
}


.affiche_select {
    display: block !important;
}

.affiche_select.d-none {
    display: none !important;
}

.affiche_action {
    display: none !important;
}

.affiche_action:not(.d-none) {
    display: block !important;
}


.search_user {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 1rem;
    width: 100%;
}

.search_user input.form-control {
    max-width: 500px;
    margin: 0 auto 0.625rem; 
}


.table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent; 
    overflow-x: auto;
}

.table th,
.table td {
    padding: 0.3125rem; 
    background-color: transparent;
}

.table tr:hover {
    background-color: #bfc1d8;
    color: #ff0000;
    cursor: pointer;
}

.table tr:active {
    background-color: #e0e0e0;
}

.client_search-table {
    height: auto;
}

.client_search-table tr:hover {
    background-color: #bdc5e7; 
}

.client_search-table tr.selected {
    background-color: #afd7ad;
    font-weight: bold;
}


.user_info {
    margin: 1.875rem; 
}

.user_info_list {
    margin: 0;
}

.form-group label {
    font-weight: bold;
    text-align: left;
    padding-left: 15%;
    display: flex;
    align-items: center;
}

.form-group .edit-toggle {
    cursor: pointer;
    margin-left: 0.625rem; 
    color: #007bff;
}

.form-group .edit-toggle.d-none {
    display: none;
}


.form-check {
    padding: 0.3125rem 0; 
    margin: 0.3125rem 1.25rem 1.875rem; 
    font-weight: bold;
}

.option_action {
    display: flex;
    width: 100%;
}


.submit_confirm {
    margin-top: 1.25rem; 
    text-align: center;
}

.btn-user {
    margin: 3.125rem 0; 
}


@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .search_user input.form-control {
        max-width: 100%; 
    }

    .table {
        max-width: 100%; 
    }

    .form-group label {
        padding-left: 5%; 
    }

    .user_info {
        margin: 1rem; 
    }
}