.user-field {
border: none;
border-bottom: 1px solid #ced4da; /* 边框颜色可以根据需要调整 */
border-radius: 0; /* 移除圆角，使下边框更平直 */
}

/* 悬停和聚焦时的样式，使其更具交互性 */
.user-field:hover,
.user-field:focus {
border-bottom-color: #0d6efd; /* 悬停和聚焦时变为蓝色 */
box-shadow: none; /* 移除默认的蓝色阴影 */
}

/* 专门针对被禁用的 .user-field 元素 */
.user-field:disabled {
/* 覆盖掉浏览器和 Bootstrap 的默认样式 */
background-color: transparent; /* 或者你想要的背景颜色 */
opacity: 1; /* 恢复完全不透明 */

/* 应用你想要的下边框样式 */
border-bottom: 1px solid #ced4da;
}



/*
.main {
    height: 100%;
}

.affiche {
    height: 70vh;
    display: block;
    overflow: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.form-check {
    padding: 5px 0px;
    margin: 5px 20px 30px;
    font-weight: bold;
}

.option_action {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search_user {
    display: flex;
    padding: 5px 0 15px 0;
    margin: 0 0;
    width: 100%;
}

.table {
    background-color: rgba(232, 242, 232, 0);
    overflow: auto;
    display: block;
}

.table td{
    background-color: rgba(232, 242, 232, 0);
    overflow: auto; 
    padding: 5px;
}

.table th{
    background-color: rgba(232, 242, 232, 0);
    overflow: auto;
    
}

.table tr:hover {
    background-color: #bfc1d8;
    color: #ff0000; 
    cursor: pointer;
}


.table tr:active {
    background-color: #e0e0e0;
}

.client_search-table {
    height: auto;
}

.client_search-table tr:hover {
    background-color: #bdc5e7e7;
    cursor: pointer;
}

.client_search-table tr.selected {
    background-color: #afd7ad;
    font-weight: bold;
}

.edit-toggle {
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
  }


.user-field {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: none !important; 
    color: blue;
}
.user-field:focus {
    background-color: transparent !important;
    border-color: #86b7fe !important; 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important; 
}

select.user-field {
    background-image: none !important; 
}

select.user-field {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.required::after {
    content: '*';
    color: #dc3545;
    margin-left: 4px;
}

.submit-zone {
    text-align: right;
}

@media (max-width: 768px) {
    .affiche {
        height: auto;
        max-height: 80vh;
    }
    .form-group {
        margin-bottom: 1.5rem;
    }
    .option_action {
        flex-direction: column;
        gap: 5px;
    }
}



