.main {
    height: 92%;
}

.affiche {
    height: 100%;
    display: block;
    overflow: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.table {
    background-color: rgba(232, 242, 232, 0);
    overflow: auto;
    display: block;
    font-size: 14px;
}

.table td{
    background-color: rgba(232, 242, 232, 0);
    overflow: auto; 
}

.table th{
    background-color: rgba(232, 242, 232, 0);
    overflow: auto;
}

.table tr:hover {
    background-color: #bfc1d8;
    color: #ff0000; /* 字体颜色变为红色 */
    cursor: pointer;
}

/* 可选：点击后的样式 */
.table tr:active {
    background-color: #e0e0e0;
}

.client_search-table tr:hover {
    background-color: #bdc5e7e7;
    cursor: pointer;
}
.client_search-table tr.selected {
    background-color: #afd7ad;
    font-weight: bold;
}

.info_client {
    background-color: #F3F3F3;
}

#information_client, #policy_client, #relation_client, #agenda_client {
    height: 60vh;
    display: block;
    overflow: auto;
}


