<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM Insurance{% endblock %}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    {% block css %}{% endblock %}


</head>
<body>
    <div class="container">
        <div class="content">
            <h6>
                <span >Bienvenue: {{ current_user.username }} !</span>
                <span id="clock"></span>
            </h6>

        </div>

        <!--  Navigateur -->
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav" id="nav-menu">
                
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li> 
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.get_policy_html') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profilClient.get_profilClient_html') }}">Profil du Clients</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('gestionVente.get_gestionVente_html') }}">Gestion de Vente</a></li>     
                    <li><a class="nav-item" href="#" data-target="gestionVente.html">Gestion1 de Vente</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Configuration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('gestionClient.get_gestionClient_html') }}">Gestion de Clients</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('gestionProduct.get_gestionProduct_html') }}">Gestion de Product</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('gestionDiscount.get_gestionDiscount_html') }}">Gestion de Discount</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('gestionAgent.get_gestionAgent_html') }}">Gestion de Agent</a></li>                       
                            <li><a class="dropdown-item" href="{{ url_for('gestionVente.get_gestionVente_html') }}">Gestion de Policy</a></li>  
                            <li><a class="dropdown-item" href="{{ url_for('gestionAgenda.get_gestionAgenda_html') }}">Gestion de Agenda</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('gestionAgent.get_gestionAgent_html') }}">Gestion de Fichier_PDF</a></li>    
                            <li><a class="dropdown-item" href="{{ url_for('gestion_facturation') }}">Gestion de Facturation</a></li>
                            {% if current_user.role_str == "Admin" %}
                                <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Gestion de Users</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>   
                {% endif %}
                
            </ul>
        </nav>   

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p> @ AssurSolution</p>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        {% block scripts %}{% endblock %}

    </div>

</body>
</html>
