<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    
    <!-- Navigateur -->
    <nav class="navbar">
        <ul class="menu" id="nav-menu">
            <!-- Menu rempli par JavaScript  -->
        </ul>
    </nav>

    <div class="content">
        <h1>Bienvenu: {{ username }}! {{ current_time }}</h1>
        
    </div>

    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">login</a></li>
            <li><a href="{{ url_for('index') }}">researche</a></li>
            <li><a href="{{ url_for('add_user') }}">add_user</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>    

</body>
</html>
