{% extends "base.html" %}

{% block title %}Information des clients{% endblock %}

{% block content %}
<h1>Bienvenue sur la page d'accueil</h1>

    <div class="container">
        <h2>Information des clients</h2>
        <form action="{{ url_for('customer_detail', customer_id=customer.id) }}" method="POST">
            <label>Nom de famille:</label>
            <input type="text" name="first_name" value="{{ customer.first_name }}" required>
            <label>Prénom:</label>
            <input type="text" name="last_name" value="{{ customer.last_name }}" required>
            <label>Téléphone:</label>
            <input type="text" name="phone" value="{{ customer.phone }}" required>
            <label>E-mail:</label>
            <input type="email" name="email" value="{{ customer.email }}" required>
            <button type="submit">Sauvegarder</button>
        </form>
    </div>

{% endblock %}