{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Bienvenue sur la page d'accueil</h1>

<head>
    <meta charset="UTF-8">
    <title>System Gestion des Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!--
    <script>
        function searchCustomers() {
            let query = document.getElementById('searchBox').value;
            fetch('/search?query=' + query)
                .then(response => response.json())
                .then(data => {
                    let resultDiv = document.getElementById('results');
                    resultDiv.innerHTML = "";
                    data.forEach(customer => {
                        let entry = document.createElement('div');
                        entry.innerHTML = `<a href="/customer/${customer.id}">${customer.name} - ${customer.phone} - ${customer.email}</a>`;
                        resultDiv.appendChild(entry);
                    });
                });
        }
        
    </script>
    -->
</head>
<body>
    <div class="container">
        <h2>Gestion des Clients</h2>
        <a href="{{ url_for('logout') }}">Logout</a>
        <input type="text" id="searchBox" onkeyup="searchCustomers()" placeholder="Recherche...">
        <div id="results"></div>
    </div>
</body>


{% endblock %}